In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation

In [2]:
book = pd.read_csv('/Users/halders/Documents/Excelr/dataset/book 2.csv')
book = book.drop('Unnamed: 0',axis = 1)
book = book.rename(columns = {"User.ID":"UserId","Book.Title":"Book_Title","Book.Rating":"Book_Rating"})

In [3]:
book[0:5]

   UserId                                         Book_Title  Book_Rating
0  276726                                Classical Mythology            5
1  276729                                       Clara Callan            3
2  276729                               Decision in Normandy            6
3  276736  Flu: The Story of the Great Influenza Pandemic...            8
4  276737                             The Mummies of Urumchi            6

In [4]:
#finding out length of unique user ids\
len(book.UserId.unique())

2182

In [5]:
#lenght of unique book titles
len(book.Book_Title.unique())

9659

In [6]:
book_pivot = book.pivot_table(index='UserId',columns='Book_Title',values='Book_Rating')
book_pivot

Book_Title,"Jason, Madison &amp",Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",1001 Brilliant Ways to Checkmate,...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
UserId,,,,,,,,,,,,,,,,,,,,,
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
278852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
book_pivot= book_pivot.fillna(0)
book_pivot

Book_Title,"Jason, Madison &amp",Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",1001 Brilliant Ways to Checkmate,...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
UserId,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
#Calculating Cosine Similarity between Users
book_user_sim = 1 - pairwise_distances(book_pivot.values,metric='cosine')
book_user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [9]:
#filling daigonal values with 0 
np.fill_diagonal(book_user_sim, 0)

In [11]:
#storing results in a dataframe
book_us = pd.DataFrame(book_user_sim)
book_us.index = book.UserId.unique()
book_us.columns = book.UserId.unique()
book_us.iloc[0:5,0:5]

        276726  276729  276736  276737  276744
276726     0.0     0.0     0.0     0.0     0.0
276729     0.0     0.0     0.0     0.0     0.0
276736     0.0     0.0     0.0     0.0     0.0
276737     0.0     0.0     0.0     0.0     0.0
276744     0.0     0.0     0.0     0.0     0.0

In [17]:
#getting maximam similarities in every rows of users
book_us.idxmax(axis=1)[0:50]

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
276745    276726
276747    276726
276748    161677
276751    276726
276754    276726
276755    276726
276760    276726
276762    276726
276768    276726
276772      1491
276774    278543
276780    276726
276786    276726
276788    276726
276796    276726
276798    276726
276800    276726
276804    276726
276808    276726
276811    276726
276812    277533
276813      3546
276814    277828
276820      3462
276822    276726
276827    276726
276828    276726
276830    276726
276832    276726
276835    276726
276837    276726
276842    276726
276847    276726
276848    276726
276850    276726
276853    276726
276854    276726
276857    276726
276859    276726
276861    276726
276862    277556
276863    276726
276866    276726
276870    276726
276872    276726
dtype: int64

In [26]:
book[(book['UserId']==278202) | (book['UserId']==276798)]

      UserId                                         Book_Title  Book_Rating
36    276798                                        Lying Awake            5
37    276798                              To Kill a Mockingbird            7
38    276798                     Seabiscuit: An American Legend            6
1706  278202  The Florabama Ladies' Auxiliary &amp; Sewing C...            3
1707  278202                Howl and Other Poems (Pocket Poets)            2
1708  278202  Frankenstein: Complete, Authoritative Text Wit...            4
1709  278202  Short Stories of Ernest Hemingway (A Scribner ...            5
1710  278202  Back When We Were Grownups : A Novel (Ballanti...            3
1711  278202                              To Kill a Mockingbird            9
1712  278202                         Birds Bees And Babies 1994            3
1713  278202                          The Cat Who Played Brahms           10
1714  278202                                       Black Notice            3
1715  278202  Irish Eyes: A Nuala Anne McGrail Novel (Nuala ...            5
1716  278202  Totally Useless Office Skills: 75 Great Ways t...            3
1717  278202                   Catechism of the Catholic Church            1
1718  278202  Father McBride's Family Catechism: Based on th...            8
1719  278202                         The Missionary's Catechism            3
1720  278202                The Enthusiasms of Roberston Davies            4
1721  278202  As Nature Made Him: The Boy Who Was Raised As ...            4
1722  278202                Something Under the Bed Is Drooling           10
1723  278202  The War Against Population: The Economics and ...            7
1724  278202                                  Mere Christianity            3
1725  278202                      Haroun and the Sea of Stories            8
1726  278202  Wedding Day Murder: A Lucy Stone Mystery (Meie...            4
1727  278202         One for the Money (A Stephanie Plum Novel)            4

In [27]:
#defining function to get similar books read by two users
def get_similar_books( user1,user2):
    # Inner join between movies watched between two users will give 
    # the common movies watched.
    common_books = book[book.UserId == user1].merge ( book[book.UserId==user2],on = 'Book_Title', how='inner')
    return common_books.merge(book,on = 'Book_Title')

In [29]:
#geting similar books for 2 users:
get_similar_books(278202,276798)

,UserId_x,Book_Title,Book_Rating_x,UserId_y,Book_Rating_y,UserId,Book_Rating
0,278202,To Kill a Mockingbird,9,276798,7,276798,7
1,278202,To Kill a Mockingbird,9,276798,7,278202,9